.color-box {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 3px;
}
.green-box {
    background-color: #d1e7dd; 
}
.red-box {
    background-color: #ffb3b3; 
}
.col-md-3{
	background-color: #eeeeee;
	height: fit-content;
	width: fit-content
} 
.col-md-9{
	width: 78%;
	height: 90px;
}
textarea {
    width: 1760px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}
.dropdown-container {
    display: flex;
    justify-content: flex-end;
}
.dropdown-toggle {
    background-color: #0056b3 !important; 
    color: white !important;          
    border-color: #0056b3 !important;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: #004085 !important; 
    color: white !important;               
    border-color: #004085 !important;    
}
.dropdown-menu {
    background-color: white;
    width: 100%; 
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: left;
}
.dropdown-item span {
    margin-left: 10px;
    order: 2;
}
.flag-icon {
    margin-left: 10px;
}
.dropdown-menu .dropdown-item {
    color: black;
    padding: 10px 20p; 
}
.dropdown-menu .dropdown-item:hover {
    background-color: darkblue;
    color: white;
}




