.color-box {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 3px;
}
.green-box {
    background-color: #d1e7dd; 
}
.red-box {
    background-color: #ffb3b3; 
}
.col-md-3{
	background-color: #eeeeee;
	height: fit-content;
	width: fit-content
} 
.col-md-9{
	width: 78%;
	height: 90px;
}
textarea {
    width: 1760px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}
.container{
	height: 480px;
}