<div class="container">
	<h1 th:text="#{working_calendar}">Working calendar</h1>
	<hr>
	<h6>
		<span th:text="#{time_frame}">Time Frame</span> <span
			th:title="#{select_working_time_frame}">💡</span>
	</h6>
	<hr>
	<form>
		<label for="fromDate" th:text="#{from_date}">From</label> <input
			type="date" id="fromDate" th:value="${fromDate}"
			placeholder="dd/mm/yyyy"> <label for="toDate"
			th:text="#{to_date}">To</label> <input type="date" id="toDate"
			th:value="${toDate}" placeholder="dd/mm/yyyy">
	</form>
	<br>
	<div class="d-flex align-items-center">
	    <h6 class="mb-0 d-flex align-items-center me-auto">
	        <span th:text="#{plan_working}">Plan working calendar</span>
	        <span th:title="#{edit_work_schedules}" class="ms-2">💡</span>
	        <button class="btn btn-warning ms-3" id="loadPreviousMonthBtn">Load User</button>
	    </h6>
	    <div class="col-md-3">
	        <div class="d-flex flex-column">
	            <div class="d-flex align-items-center">
	                <div class="color-box green-box mr-2">Y</div>
	                <div th:text="#{plan_to_work}">Plan to work</div>
	            </div>
	            <div class="d-flex align-items-center mt-2">
	                <div class="color-box red-box mr-2">N</div>
	                <div th:text="#{not_working}">Not working</div>
	            </div>
	        </div>
	    </div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div id="tblCalendar"></div>
		</div>
	</div>
</div>
