<div class="container">
        <h1>Working calendar</h1>
        
        <form>
            <div class="form-group">
                <label for="fromDate">From</label>
                <input type="date" class="form-control" id="fromDate" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group">
                <label for="toDate">To</label>
                <input type="date" class="form-control" id="toDate" placeholder="dd/mm/yyyy">
            </div>
        </form>
        
        <h2>Plan working calendar</h2>
        <div id="tblProduct"></div>
        <button class="btn btn-primary" id="saveDataBtn">Save</button>

</div>