<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Collection of samples to develop Web Application can run on both Tomcat Standalone and MyWorkspace/Sakai platform.</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://myworkspace.vn/library/skin/default-skin/tool.css">
</head>
<body>

    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <div class="text-center">
            <div class="lead">
                <H1>How to develop a web application can run on Tomcat standalone <br/>and run on MyWorkspace/Sakai platform?</H1>
            </div>
            <div class="lead">Welcome to the collection of samples!</div>
			<p>Contact: <span th:text="${session.userDisplayName}"></span> - <span th:text="${session.userEid}"></span></p>
			<p>Facebook Group: <a href="https://www.facebook.com/groups/ttdoanhnghiep" target="_blank">Enterprise Internship Factory</a></p>
            <p>
                <a id="signup" class="btn btn-success btn-lg" href="https://myworkspace.vn" target="_blank">MyWorkspace Homepage</a>
            </p>
        </div>
        <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The MKS Company</div>
    </div>

</body>
</html>