<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Working time - Task</title>
	<th:block th:include="fragments/head"></th:block>
	<link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" />
</head>
<style>
</style>

<body>

	<div th:replace="~{fragments/header :: header}">Header</div>


	<th:block th:include="fragments/task/frg_task.html"></th:block>

	<!-- Screen Javascripts -->
	<script type="text/javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>
	
	<script type="text/javascript" th:src="@{/resources/js/task/init.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/task/save.js}"></script>

</body>
</html>
